# AWS SES (admin email notifications)
INFRA_REGION=INFRA_REGION
INFRA_ACCESS_KEY_ID=INFRA_ACCESS_KEY_ID
INFRA_SECRET_ACCESS_KEY=INFRA_SECRET_ACCESS_KEY
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY
STRIPE_PRICE_ID=STRIPE_PRICE_ID